.theme-dark {
	--db-plugin-background-modifier-hover-light: rgba(255, 255, 255, 0.0375);
}

.theme-light {
	--db-plugin-background-modifier-hover-light: rgba(0, 0, 0, 0.0375);
}

.clusterize {
	height: 100%;
}

.clusterize-scroll {
	height: 100%;
	overflow-y: scroll;
}

.view-content:has(> .db-plugin-file-header) {
	display: flex;
	flex-direction: column;
	gap: var(--size-4-3);
	overflow: scroll;
}

.db-plugin-table-wrapper {
	overflow: scroll;
	flex: 1;
}

.db-plugin-table {
	border-collapse: collapse;
	/* transform: rotateX(0deg);  force hardware acceleration */
}

.db-plugin-th {

}

.db-plugin-th-row {

}

.db-plugin-th-cell {
	padding: var(--size-4-2);
}

.db-plugin-th-cell-content {
	display: inline-flex;
	flex-direction: row;
	width: 100%;
}

.db-plugin-th-cell-content-text-container {
	flex: 1;
	text-align: start;
}

.db-plugin-th-cell-content-text {
	display: block;
}

.db-plugin-th-cell-content-text-secondary {
	display: block;
	color: var(--text-faint);
}

.db-plugin-th-cell-content-icon {

}

.db-plugin-tb {

}

.db-plugin-tb-row {
	border-bottom: 1px solid var(--background-modifier-border);
}

.db-plugin-tb-row:first-child {
	border-top: 1px solid var(--background-modifier-border);
}

.db-plugin-tb-row:hover {
	border-bottom: 1px solid var(--color-base-50);
}

.db-plugin-tb-row:first-child:hover {
	border-top: 1px solid var(--color-base-50);
}

.db-plugin-tb-row:has(+ .db-plugin-tb-row:hover) {
	border-bottom: 1px solid var(--color-base-50);
}

.db-plugin-tb-cell {
	display: inline;
	padding: var(--size-4-2);
}

.db-plugin-tb-cell:hover {
	background: var(--db-plugin-background-modifier-hover-light);
}

.db-plugin-clickable-icon-wrapper {
	border-radius: var(--size-4-1);
	padding: var(--size-4-1);
	height: calc(18px + 2 * var(--size-4-1));
	width: calc(18px + 2 * var(--size-4-1));
	cursor: pointer;
}

.db-plugin-clickable-icon-wrapper:hover {
	background: var(--background-modifier-hover);
}

.db-plugin-table-toolbar {
	display: flex;
	flex-direction: row;
	gap: var(--size-4-2);
}

.db-plugin-table-search-bar {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: var(--size-4-1);
	flex: 1;
}

.db-plugin-table-pagination {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: var(--size-4-1);
}

.db-plugin-table-pagination > input[type=number] {
	width: 50px;
}

.db-plugin-file-header {
	display: flex;
	flex-direction: row;
	padding: var(--size-4-2) var(--size-4-4);
	border-radius: var(--size-4-2);
	background: var(--background-secondary);
}

.db-plugin-file-content {
	margin-inline: var(--size-4-2);
}

